.posts {
    max-width: 720px;
    margin: 4.063rem auto;

    a {
        display: block;

        & + a {
            margin-top: 3rem;
        }

        strong {
            display: block;
            font-size: 1.75rem;
            margin-top: 1rem;
            line-height: 2rem;
            font-weight: 700;
            
            transition: color 0.2s;
        }

        > p {
            color: var(--gray-100);
            margin-top: 0.5rem;
            line-height: 1.625rem;
            font-size: 1.125rem;
            font-weight: 400;
        }

        footer {
            display: flex;
            column-gap: 1.5rem;
            color: var(--gray-300);
            font-weight: 400;
            font-size: 0.875rem;

            margin-top: 1.5rem;
            align-items: center;

            section {
                align-items: center;
                display: flex;
                column-gap: 0.5rem;

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        &:hover strong {
            color: var(--yellow-500);
        }
    }

    button {
        color: var(--pink-500);
        font-weight: 600;
        font-size: 1.125rem;
        background: none;
        border: none;

        margin-top: 4.063rem;
    }
}
