.article {
    max-width: 720px;
    margin: 5rem auto;

    h1 {
      font-size: 3rem; 
      margin-bottom: 1.5rem;
    }
}

.banner{
    display: flex;
    align-items: center;
    
    img {
      height: 25rem;
      width: 100vw;
      object-fit: cover;
    }
}

.post {
    margin-top: 4rem;

    h2{
        margin-bottom: 2.5rem;
        font-size: 2.25rem;
    }

    div {
        font-size: 1.125rem;
        color: var(--gray-100);
    }
}

.navegation {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var( --gray-300);

    margin-top: 4.375rem;

    div {
        padding:  4.375rem 0;
        max-width: 18.75rem;
    }

    p {
        padding: 0.625rem 0;
    }

    a {
        color: var(--pink-500);
        font-weight: 600;

        &:hover {
            filter: brightness(1.1)
        }
    }
}