.article {
    max-width: 720px;
    margin: 5rem auto;

    h1 {
      font-size: 3rem; 
      margin-bottom: 1.5rem;
    }
}

.banner{
    img {
      height: 25rem;
      width: 100vw;
      object-fit: cover;
    }
}

.post {
    margin-top: 4rem;

    h2{
        margin-bottom: 2.5rem;
        font-size: 2.25rem;
    }

    div {
        font-size: 1.125rem;
        color: var(--gray-100);
    }
}